html{
zoom: 67%;
overflow-y: hidden;
font-family: Helvetica;
}


body{
  margin: 0;
  padding: 0;
  background-image: url(resources/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1{
  margin: 0 auto;
  width: fit-content;
  padding: 0;
  font-family: sans-serif;
}

div{
  display: block;
}

header{
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 50px;
  background-color: #1E2020;
  color: #c5bbb4;
  font-family: 'Calibri';
  box-shadow: 1px 3px 7px 3px #1E1E1E;
}

#logo{
  width: 150px;
  margin-top: 6px;
  float: left;
}

#test{
  width: 20px;
  height: 20px;
  background-color: green;
}

main{
  width: 1300px;
  height: 988px;
  margin: 0 auto;
  overflow-y: hidden;
}

#left{
  position: relative;
  float: left;
  width: 45%;
  height: 980px;
  background-color: rgb(255,255,255,0.5);
}

#videoplace{
  width: 585px;
  height: 457px;
  background-color: black;
  margin-top: 80px;
}

#toolpanel{
  width: 585px;
  height: 400px;
  margin-top: 25px;
}

.forumicon{
  line-height: 0;
  padding-left: 0.5rem;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 0.4rem;
  margin-right: 0.2rem;
}

.forumpanel{
  display: flex;
  list-style: none !important;
  background-color: #e5e6e6;
}

.forumtitle{
  font-size: 25px;
  font-weight: bold;
  font-family: "Georgia";
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  color: black;
  font-family: Cambria;
}

.forumsubtitle{
  font-size: 20px;
  color: black;
}

a{
  cursor: pointer;
  text-decoration: none;
}

li{
  maring: 0;
  padding: 0;
  text-align: -webkit-match-parent;
}

ul{
  list-style: none;
}

.font1{
  font-size: 25px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1.2px;
  color: black;
  font-family: "Georgia";
  color: #bdbfbf;
}

.font2{
  font-size: 40px;
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1.2px;
  color: rgb(0,0,0,1);
  font-family: "Georgia";
  color: #bdbfbf;
}

.navigate{
  text-align: center;
  float: left;
  width: 150px;
  height: 30px;
  margin-top: 10px;
  margin-left: 55px;
  border: 1px solid #bdbfbf;
  border-radius: 5%;
  box-shadow: 1px 1px 3px 1px white;
}

#navigatebar{
  width: fit-content;
  height: 35px;
  padding-top: 9px;
  float: left;
  margin: 0 auto;
  margin-left: 510px;
  color: #1E2020;
}

#logoutpagebutton{
  float: right;
  margin-right: 20px;
  width: 85px;
}

#registerpagebutton{
  width: 150px;
  float: right;
}

#loginpagebutton{
  width: 150px;
  float: left;
}

#searchfield{
  width: 170px;
  height: 30px;
  padding-left: 10px;
  float: left;
  margin-top: 1px;
}

#searchsubmit{
  width: 37px;
  height: 32px;
  float: left;
}

#searchbar{
  width: 207px;
  height: 40px;
  float: left;
  margin-left: 118px;
  margin-top: 11px;
  color: #1E2020;
}
#wrapper{
  width: fit-content;
  height: 50px;
  margin: 0 auto;
  margin-right: 15px;
  float: left;
}

#headerwrapper{
	margin: 0 auto;
	width: 1285 px;
}

#right{
  position: relative;
  margin-left: 15px;
  float: left;
  width: 53%;
  height: 980px;
  background-color: rgb(255,255,255,0.5);
}

.button1{
  width: 153px;
  height: 30px;
  margin-top: 45px;
  font-weight: bold;
  border: 1px solid black;
  background-color: white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 5px;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.7),
  0 -1px 0 rgba(64, 38, 5, 0.9);

  -moz-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
  inset 0 1px 2px rgba(255, 255, 255, 0.7),
  0 5px 0 #D3D3D3, 0 6px 0 black;

  -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
  inset 0 1px 2px rgba(255, 255, 255, 0.7),
  0 5px 0 #D3D3D3, 0 6px 0 black;

  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
  inset 0 1px 2px rgba(255, 255, 255, 0.7),
  0 5px 0 #D3D3D3, 0 6px 0 black;
}

.button1:active {
position: relative;
top: 5px;
border: 1px solid white;

-moz-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
inset 0 1px 2px rgba(255, 255, 255, 0.7),
0 3px 0 #D3D3D3, 0 4px 0 black;

-webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
inset 0 1px 2px rgba(255, 255, 255, 0.7),
0 3px 0 #D3D3D3, 0 4px 0 black;

box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
inset 0 1px 2px rgba(255, 255, 255, 0.7),
0 3px 0 #D3D3D3, 0 4px 0 black;
}

.button2{
  float: right;
  width: 70px;
  font-weight: normal;
  height: 30px;
  color: black;
  margin-left: 20px;
  border: 1px solid black;
  background-color: white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 5px;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.7),
  0 -1px 0 rgba(64, 38, 5, 0.9);

  -moz-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
  inset 0 1px 2px rgba(255, 255, 255, 0.7),
  0 5px 0 #D3D3D3, 0 6px 0 black;

  -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
  inset 0 1px 2px rgba(255, 255, 255, 0.7),
  0 5px 0 #D3D3D3, 0 6px 0 black;

  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
  inset 0 1px 2px rgba(255, 255, 255, 0.7),
  0 5px 0 #D3D3D3, 0 6px 0 black;
}

.button2:active {
position: relative;
top: 5px;
border: 1px solid white;

-moz-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
inset 0 1px 2px rgba(255, 255, 255, 0.7),
0 3px 0 #D3D3D3, 0 4px 0 black;

-webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
inset 0 1px 2px rgba(255, 255, 255, 0.7),
0 3px 0 #D3D3D3, 0 4px 0 black;

box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
inset 0 1px 2px rgba(255, 255, 255, 0.7),
0 3px 0 #D3D3D3, 0 4px 0 black;
}

.button3{
  width: 140px;
  height: 30px;
  font-weight: bold;
  border: 1px solid black;
  background-color: white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 5px;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.7),
  0 -1px 0 rgba(64, 38, 5, 0.9);

  -moz-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
  inset 0 1px 2px rgba(255, 255, 255, 0.7),
  0 5px 0 #D3D3D3, 0 6px 0 black;

  -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
  inset 0 1px 2px rgba(255, 255, 255, 0.7),
  0 5px 0 #D3D3D3, 0 6px 0 black;

  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
  inset 0 1px 2px rgba(255, 255, 255, 0.7),
  0 5px 0 #D3D3D3, 0 6px 0 black;
}

.button3:active {
position: relative;
top: 5px;
border: 1px solid white;

-moz-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
inset 0 1px 2px rgba(255, 255, 255, 0.7),
0 3px 0 #D3D3D3, 0 4px 0 black;

-webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
inset 0 1px 2px rgba(255, 255, 255, 0.7),
0 3px 0 #D3D3D3, 0 4px 0 black;

box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
inset 0 1px 2px rgba(255, 255, 255, 0.7),
0 3px 0 #D3D3D3, 0 4px 0 black;
}

.span1{
  font-family: Cambria;
  font-size: 30px;
  font-weight: bold;
  margin-left: 135px;
  text-transform: uppercase;
}

.span2{
  font-family: Cambria;
  font-size: 23px;
  font-weight: bold;
  margin-left: 90px;
  text-transform: uppercase;
}

.span3{
  font-family: Cambria;
  font-size: 23px;
  font-weight: bold;
  margin-left: 40px;
  text-transform: uppercase;
}

.articletitle{
  width: 100%;
  height: 20px;
  font-weight: bolder;
  font-size: 16px;
  background-color: #1E2020;
  color: white;
  padding-left: 15px;
  padding-top: 1px;
}

.article{
  width: 100%;
  height: 150px;
  border: 1px solid #1E2020;
  margin-bottom: 15px;
  background-color: #e5e6e6;
}

.article2{
  width: 100%;
  height: 220px;
  border: 1px solid #1E2020;
  margin-bottom: 15px;
  background-color: #e5e6e6;
  overflow-y: auto;
}

#articleboard{
  width: 100%;
  height: 875px;
  border: 1px solid #1E2020;
  background-color: #e5e6e6;
  overflow-y: auto;
  color: black;
  word-wrap: break-word;
  background: linear-gradient(white, #bdbfbf 95%);
}

#articlerightpanel{
  width: 100%;
  height: 875px;
  margin-top: 80px;
  overflow: auto;
  color: white;
}

#articlecategory{
  font-weight: bolder;
}

.articlerightpanel2{
  width: 100%;
  height: 908px;
  margin-top: 80px;
}

.articlecontent1{
  width: 100%;
  height: 126px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  word-wrap: break-word;
  overflow-y: auto;
  background: linear-gradient(white, #bdbfbf 95%);
}

.articlecontent2{
  width: 95%;
  height: 100px;
  padding-left: 15px;
  padding-top: 5px;
  color: black;
}

.articlecontent3{
  width: 100%;
  height: 800px;
  word-wrap: break-word;
  background: linear-gradient(white, #bdbfbf 95%);
}

.articlecontent4{
  color: black;
  width: 91%;
  height: 670px;
  margin-left: 15px;
  margin-top: 25px;
}

#articlecontent{
  width: 93%;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  height: fit-content;
}

#articlecontentboard{
  width: 100%;
  height: fit-content;
  margin: 0;
}

#contenttext{
  position: relative;
  top: 15px;
  left: 15px;
  font-weight: bolder;
  color: black;
}

#searchfield{
  width: 170px;
  height: 30px;
  float: left;
  padding-left: 5px;
}

.articlecontent5{
  width: 100%;
  height: 670px;
  background-color: yellow;
}

.articleinfopreview{
  width: 687px;
  height: 30px;
  background-color: #C8C8C8;
  border-bottom: 3px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.articleinfonames{
  width: 100%;
  height: 30px;
  background-color: #888888;
  border: 1px solid black;
}

.rank{
  font-family: Cambra;
  font-weight: bolder;
  font-size: 20px;
  color: #bdbfbf;
  float: left;
  width: fit-content;
  margin-top: 5px;
  margin-left: 55px;
}

.addspaceuser{
  width: 560px;
  height: 390px;
  margin-left: 13px;
  margin-top: 50px;
}

.addspaceadmin{
  width: 560px;
  height: 390px;
  margin-left: 13px;
  margin-top: 18px;
}

.addinfo{
  width: 140px;
  height: 390px;
  float: left;
  text-align: right;
  font-weight: bolder;
  font-size: 15px;
  font-family: Arial;
}

.addform{
  width: 410px;
  height: 368px;
  margin: 0 auto;
}

.articlepanel{
  float: right;
  width: 60px;
  height: 17px;
  margin-right: 5px;
}

.editspan{
  font-weight: bolder;
}
